<br/>
<span class="friend_small_text" style="color: {{#if id}}{{ groupColor }}{{else}}#898989{{/if}} !important;">
    <img src="{{ iconURL }}" width="10px" alt="Icon"> {{#if id}}{{ groupName }}{{else}}¯\_(ツ)_/¯{{/if}}
</span>
{{#if banned}}
  <span class="em_count tmp_banned">{{#unless bannedUntil}}PERM {{/unless}}banned</span>
{{/if}}
