<div class="profile_customization">
  <div class="profile_customization_header">
    <span {{#if timeout}}data-tooltip-html="Cached until {{ timeout }}"{{/if}}><img src="{{ iconURL }}" width="16px" alt="Logo"> TruckersMP Info</span>
    {{#if banned}}
      <span class="tmp_banned" {{#if bannedUntil}}data-tooltip-html="Until {{ bannedUntil }}"{{/if}}>Banned{{#unless bannedUntil}} permanently!{{/unless}}</span>
    {{/if}}
  </div>

  <div class="profile_customization_block {{#if banned}} tmp_banned_block {{/if}} tmp_block">
    <div class="favoritegroup_showcase">
      <div class="showcase_content_bg">
        <div class="favoritegroup_showcase_group showcase_slot">
          <div class="favoritegroup_avatar">
            <a href="https://truckersmp.com/user/{{ id }}" target="_blank" rel="nofollow noopener noreferrer">
              <img src="{{ avatar }}" alt="{{ nickname }}'s avatar">
            </a>
          </div>

          <div class="favoritegroup_content">
            <div class="favoritegroup_namerow ellipsis">
              <a class="favoritegroup_name whiteLink" href="https://truckersmp.com/user/{{ id }}" target="_blank"
                 rel="nofollow noopener noreferrer">
                {{ name }}
              </a> - <span style="color: {{ groupColor }};" data-tooltip-html="{{ groupName }}">{{ groupName }}</span>
            </div>

            {{#if vtc}}{{#if vtc.inVTC}}
              <div class="favoritegroup_description">
                Member of <a href="https://truckersmp.com/vtc/{{ vtc.id }}" target="_blank"
                             rel="nofollow noopener noreferrer">{{ vtc.name }}</a>
              </div>
            {{/if}}{{/if}}

            {{#if showPatreon}}{{#if patreon}}{{#with patreon}}
              {{#unless hidden}}{{#if active}}{{#if currentTier}}
                <div class="favoritegroup_description">
                  <span style="color: {{ color }};">
                    Active patron: {{ currentTier }}
                  </span>
                </div>
              {{/if}}{{/if}}{{/unless}}
            {{/with}}{{/if}}{{/if}}

            {{#if showDiscord}}{{#if discordSnowflake}}
              <div class="favoritegroup_description">
                Discord Snowflake: {{ discordSnowflake }}
              </div>
            {{/if}}{{/if}}

            {{#if steamID}}
              <div class="favoritegroup_description">
                Steam ID: {{ steamID }}
              </div>
            {{/if}}

            <div class="favoritegroup_stats showcase_stats_row">
              <div class="showcase_stat">
                <div class="value">{{ id }}</div>
                <div class="label">TMP ID</div>
              </div>

              {{#if bansCount}}
                <div class="showcase_stat favoritegroup_online">
                  <div class="value">{{ bansCount }}</div>
                  <div class="label">Active Bans</div>
                </div>
              {{/if}}

              {{#unless banned}}
                {{#if online}}
                  <div class="showcase_stat favoritegroup_ingame">
                    <div class="value">
                      <a href="https://map.truckersmp.com/follow/{{ id }}?ref=truckersmp-steam-helper" target="_blank" data-tooltip-html="Click to follow on the map">Online</a>
                    </div>
                    <div class="label">TMP Status</div>
                  </div>
                {{/if}}

                {{#unless online}}
                  <div class="showcase_stat favoritegroup_offline">
                    <div class="value">Offline</div>
                    <div class="label">TMP Status</div>
                  </div>
                {{/unless}}
              {{/unless}}

              <div style="clear: left;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
