<div class="profile_customization">
    <div class="profile_customization_header">
        TruckersMP Info{{#if isCached}}<span data-tooltip-html="Cached for 10 minutes">*</span>{{/if}}
    </div>
    <div class="profile_customization_block">
        <div class="favoritegroup_showcase">
            <div class="showcase_content_bg">
                <div class="favoritegroup_showcase_group showcase_slot"
                    style="height: 180px !important; padding-left: 189px !important;">
                    <div class="favoritegroup_avatar" style="width: 180px !important; height: 180px !important;">
                        <a href="https://truckersmp.com/user/{{ id }}" target="_blank">
                            <img src="{{ avatar }}" style="width: 100% !important; height: auto !important;">
                        </a>
                    </div>
                    <div class="favoritegroup_content" style="height: 100% !important;">
                        <div class="favoritegroup_namerow ellipsis">
                            <a class="favoritegroup_name whiteLink" href="https://truckersmp.com/user/{{ id }}"
                                target="_blank">
                                {{ name }}
                            </a>
                            - <span style="color: {{ groupColor }};" data-tooltip-html="{{ groupName }}">
                                {{ groupName }}
                            </span>
                        </div>

                        {{#if banned}}
                        <div class="favoritegroup_description">
                            <span style="color: red;">
                                Banned {{#if bannedUntil}} until {{ bannedUntil }} UTC {{else}} permanently {{/if}}
                            </span>
                        </div>
                        {{/if}}

                        {{#if vtc}}{{#if vtc.inVTC}}
                        <div class="favoritegroup_description">
                            Member of <a href="https://truckersmp.com/vtc/{{ vtc.id }}" target="_blank">
                                {{ vtc.name }}
                            </a>
                        </div>
                        {{/if}}{{/if}}

                        {{#if showPatreon}}{{#if patreon}}{{#with patreon}}
                        {{#unless hidden}}{{#if active}}{{#if currentTier}}
                        <div class="favoritegroup_description">
                            <span style="color: {{ color }};">
                                Active patron - {{ currentTier }}
                            </span>
                        </div>
                        {{/if}}{{/if}}{{/unless}}
                        {{/with}}{{/if}}{{/if}}

                        {{#if showDiscord}}{{#if discordSnowflake}}
                        <div class="favoritegroup_description">
                            Discord Snowflake: {{ discordSnowflake }}
                        </div>
                        {{/if}}{{/if}}

                        {{#if steamID}}
                        <div class="favoritegroup_description">
                            Steam ID: {{ steamID }}
                        </div>
                        {{/if}}

                        <div class="favoritegroup_stats showcase_stats_row">
                            <div class="showcase_stat">
                                <div class="label">TMP ID</div>
                                <div class="value">{{ id }}</div>
                            </div>
                            {{#if bansCount}}
                            <div class="showcase_stat favoritegroup_ingame">
                                <div class="label">Active Bans</div>
                                <div class="value">{{bansCount}}</div>
                            </div>
                            {{/if}}
                            <div style="clear: left;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div